# Fundamentals

In [1]:
friend = "Hank"
user_name = input("Enter your username: ")

# if statement
if user_name == friend: 
    print("Hello, friend!")
else: 
    print("Hello, Stranger!")


family = ["John", "Mary"]

Hello, friend!

## While Loop
runs at least once

In [6]:
is_learning = True

while is_learning:
    print("My guy!")
    user_input = input("Are you still learning? ")
    is_learning = user_input == "yes"

# example for use in a game menu , etc
user_reply = input("Run the game? (yes/no): ")

while user_reply == "yes":
    print("Good to go..")
    user_reply = input("Play Again? ")

print("Game Over")


drop_red = True

while drop_red:
    print("Red Drop.")
    red_full = input("More room for red? ")
    # dropping imaginary red ball
    drop_red = red_full == "yes"

print("red all full")

My guy!
My guy!
Good to go..
Good to go..
Game Over
Red Drop.
Red Drop.
Red Drop.
Red Drop.
red all full

In [ ]:
# Pseudo Code for a Simple Text Menu

In [ ]:
# Ask the user to choose one of two options:
# if they type 'p', our program should print "Hello" and then ask the user again. Keep repeating this until...
# if they type 'q', our program should terminate.


# Let's begin by asking the user to type either 'p' or 'q'. You know how to do this using input()
# user_input = ...


# Then, begin a while loop that runs for as long as the user doesn't type 'q'.
# Inside the loop, have an if statement that checks if the user typed 'p'.
#    If they did, print "Hello"
# Still inside the loop, ask the user again
# user_input = ...

## For Loop
Runs a specific amount of time

In [ ]:
colors = ["red", "roses", "rivers"]

for color in colors:
    print("I love " + color)

# at least my fourth time reviewing. i love the simple syntax

elements = [0, 1, 2, 3, 4, 5, 6]
for index in elements:
    print("Hello Kosmos")

for i in range(1, 25, 2):
    print(index)
    print(i)

In [7]:
friends = [
    {"name": "King", "period": 800},
    {"name": "Mercedes", "period": 1800},
    {"name": "Aphrodite", "period": 1300},
]

for friend in friends:
    name = friend["name"]
    period = friend["period"]

    print(f"{name} was ruler of the period {period}.")



cars = [
    {"model": "Benz", "year": 2043},
    {"model": "Beamer", "year": 2268},
    {"model": "Zonda", "year": 2601},
]

for car in cars:
    model = car["model"]
    year = car["year"]

    print(f"ceoDemitri bought The {year} {model} when it was only a concept.")

King was ruler of the period 800.
Mercedes was ruler of the period 1800.
Aphrodite was ruler of the period 1300.
ceoDemitri bought The 2043 Benz when it was only a concept.
ceoDemitri bought The 2268 Beamer when it was only a concept.
ceoDemitri bought The 2601 Zonda when it was only a concept.

## For Loop Review

In [ ]:
# 
#

## Destructuring Code
Taking a tuple and converting to multiple variables

In [1]:
friends = [("Peter", 41), ("Arie", 31), ("Jessica", 22)]
for name, age in friends:
    print(f"{name} is {age} years old.")

Peter is 41 years old.
Arie is 31 years old.
Jessica is 22 years old.

## Iterating Over Dictionaries

In [16]:
fruit_amounts = {"bananas": 22, "strawberries": 132, "grapes": 3}

print("...pair")
for fruit, amount in fruit_amounts.items():
    print(f"{fruit} has {amount} pieces.")

print("...values")
for amount in fruit_amounts.values():
    print(f"{amount}")

print("...keys")
for fruit in fruit_amounts.keys():
    print(f"{fruit}")

...pair
bananas has 22 pieces.
strawberries has 132 pieces.
grapes has 3 pieces.
...values
22
132
3
...keys
bananas
strawberries
grapes

## For Loops: Finding Prime Numbers

In [17]:
for n in range (2, 10):
    is_prime = True
    for i in range(2, n):
        if n % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{n} is a prime number.")

2 is a prime number.
3 is a prime number.
5 is a prime number.
7 is a prime number.

In [18]:
# another version of finding prime numbers
for n in range (2, 10):
    for i in range(2, n):
        if n % i == 0:
            break
    else:
        print(f"{n} is a prime number.")

2 is a prime number.
3 is a prime number.
5 is a prime number.
7 is a prime number.

## List Slicing
Getting a part of an iterable

In [2]:
mage_colors = ["mauve", "emerald", "topaz", "indigo"]

print(mage_colors[1:3])
# emerald, topaz


# new list is printed just as above. 
# here we start at the end to last element and work all the way to the last element
print(mage_colors[-2:])

['emerald', 'topaz']
['topaz', 'indigo']

## List Comprehensions
Create new list

In [21]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
doubled_numbers = []

# old way
# for numbers in numbers:
#     doubled_numbers.append(numbers * 2)

# print(doubled_numbers)

# easier way with list comprehension
doubled_numbers = [numbers * 2 for numbers in numbers]

print(doubled_numbers)

numbers_in_string = {f"{number} doubled is {number * 2}." for number in numbers}
print(numbers_in_string)
# why didn't the array print in order?


planets = ["Saturn", "Sun", "Moon", "Neptune", "Pluto"]
lower = [planet.lower() for planet in planets]
print(lower)

new_planet = input("Enter a new planet")
# in a perfect world this would be fine
# if new_planet in planets:
#     print(f"{new_planet} is already a listed planet.")

# but its not perfect so we need to make each variable the same case so lower both
if new_planet.lower() in lower:
    print(f"{new_planet.lower()} is already a listed planet.")

# planet.title() is the normal case for proper nouns

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
{'9 doubled is 18.', '7 doubled is 14.', '2 doubled is 4.', '8 doubled is 16.', '6 doubled is 12.', '1 doubled is 2.', '0 doubled is 0.', '5 doubled is 10.', '4 doubled is 8.', '3 doubled is 6.'}
['saturn', 'sun', 'moon', 'neptune', 'pluto']
moon is already a listed planet.

## Comprehensions with Conditionals
create a filtered new list

In [4]:
ages = [22, 44, 21, 18, 31]
odds = [age for age in ages if age % 2 == 1]

fruits = ["strawberry", "Apples", "oranges"]
favorite_fruits = ["Oranges", "apples"]

fruits_lower = set([f.lower() for f in fruits])
favorite_fruits_lower = set([f.lower() for f in favorite_fruits])

print(fruits_lower.intersection(favorite_fruits_lower))


best_fruits = [
    favorite for favorite in favorite_fruits if favorite.lower() in favorite_fruits_lower  
]
print(best_fruits)

{'oranges', 'apples'}
['Oranges', 'apples']

## Set and Dictionary Comprehensions
Create a new dictionary

ages = [22, 44, 21, 18, 31]
odds = [age for age in ages if age % 2 == 1]

fruits = ["strawberry", "Apples", "oranges"]


new_dict = {
    "odds": odds,
    "fruits": fruits,
}

print(new_dict)

## Zip Function
Combine two collections into one list where each element is a tuple of elements

names = ["John", "Mary"]
ages = [22, 44]

new_list = list(zip(names, ages))
print(new_list)

In [3]:

names = ["John", "Mary"]
ages = [22, 44]

new_list = list(zip(names, ages))
print(new_list)

other_list = list(zip(names, ages, (1, 2)))
print(other_list)

[('John', 22), ('Mary', 44)]
[('John', 22, 1), ('Mary', 44, 2)]

## Enumerate Function
gives a collection a new lsit that pair each element with an index

In [5]:
apples = ["red", "green", "gold", "purple"]

counter = 0

for apple in apples:
    print(apple)
    print(counter)
    counter += 1

# enumerate function
print("start of enumerate")
for counter, apple in enumerate(apples):
    print(apple)
    print(counter)

print(list(enumerate(apples)))

red
0
green
1
gold
2
purple
3
start of enumerate
red
0
green
1
gold
2
purple
3
[(0, 'red'), (1, 'green'), (2, 'gold'), (3, 'purple')]

## FUNCTIONS!! In python
always start with def keyword

def say_hello(name):
    print(f"Hello {name}")
    return

say_hello("Kosmos")

In [9]:
def ceoDemitri():
    boss = True
    while boss:
        print("ceoDemitri")
        still = input("y / n")
        if still == "y":
            boss = True
        else:
            boss = False
        print(still)
    return

ceoDemitri()

ceoDemitri

y
ceoDemitri
y
ceoDemitri
y
ceoDemitri
n

## Arguements and Parameters

In [1]:
cars = [
    {"make": "BMW",
    "model": "M3",
    "mileage": 5200,
    "fuel_consumed": 520},
    {"make": "Mercedes",
    "model": "S-Class",
    "mileage": 12000,
    "fuel_consumed": 1200},
    {"make": "Toyota",
     "model": "Corolla",
     "mileage": 10000,
     "fuel_consumed": 1000},
]

def calculate_mpg(car):
    mpg = car["mileage"] / car["fuel_consumed"]
    name = f"{car['make']} {car['model']}"
    print(f"{name} does {mpg} per gallon")

calculate_mpg(cars[0])

for car in cars:
    calculate_mpg(car)

TypeError: unhashable type: 'dict'